* {
  box-sizing: border-box;
}
html {
  max-height: 1900px;
  background-color: #ccccccff;
}
/*
Header
--------------------------------------------------------------------
*/
header {
  justify-content: center;
  background-image: linear-gradient(to right, rgba(46, 67, 153, .7), rgba(176, 176, 176, .5)), url('https://media.istockphoto.com/videos/handsome-fashion-model-man-portrait-with-fascinating-eyes-and-smile-video-id537029616?s=640x640');
  background-size: cover;
  background-position: center;
  padding: 8% 5px;
}
header section {
  position: relative;
  background-color: rgba(171, 175, 194, .4);
  bottom: 25px;
  border: 5px solid #ccccccff;
  margin-right: 300px;
  margin-left: 300px;
  height: 75px;
  text-align: center;
  font-variant: small-caps;
}
header section h3 {
  margin-top: 10px;
}
header h1 {
  text-align: center;
  margin-bottom: 75px;
  font-size: 55px;
  font-family: 'Bitter', sans-serif;
  font-variant: small-caps;
}
header h1 b {
  color: white;
}
/*
Navigation
--------------------------------------------------------------------
*/
ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  background-color: #000000;
  margin: 0;
  text-align: center;
}
li {
 border-radius: 15px;
 font-size: 20px;
 margin: 10px;
 padding: 8px;
 background-color: grey;
 width: 150px;
 height: 40px;
}
ul a {
  text-decoration: none;
  color: black;
}
li:hover {
  background-color: #333333;
}
li a:hover {
  color: #FFFFFF;
}
li:active {
  background-color: #8dc495;
}
